body{
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    /* background-color: rgb(255, 254, 215); */
    background-image: url("kysimark.jpg");
    background-repeat: repeat-x repeat-y;
}

.opening-container{
    margin : 2vw auto;
    background-color: rgb(254, 254, 254);
    width : 60vw;
    border-radius: 1vw;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    padding: 20px;
}

#scores{
    margin : 20px auto;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
    width: 800px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    text-align: center;
}

h1 {
    font-size: 20px;
    color:  rgba(116, 115, 108, 0.575);
    text-align: center;
    top: 20px;
}


.names {
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: rgba(116, 115, 108, 0.575);
    color: white;
    text-align: center;
    z-index: 10;
  }

#container{
    margin : 20px auto;
    background-color: rgb(254, 254, 254);
    height: 30vw;
    width : 60vw;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
.start-container
{
    font-size: 1em;
    font-weight: bolder;
    word-break: break-all;
    text-align: center;
    color : lightgrey;
    padding-top: 10vw;
    margin-left: 21vw;
}

.start-container > div {
    width:5vw;
    height:8vw;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    color : lightgrey;
    float: left;
}

.start-container > div:not(:last-child) {
    margin-right: 1vw;
}

.start-container > div:hover{
    border: 3px solid rgb(253, 175, 7);
    color : rgb(253, 175, 7);
}

#quiz {
    padding:10px;
}

#img {
    display: flex;
    height: 400px;
    width: 400px;
    position: absolute;
}

#question{
    height : 125px;
    position: absolute;
    right:10px;
    top:30;
    display: flex;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

.answers {
    position: absolute;
    right : 10px;
    top : 90px;
    display: flex;
}

#choices{
    position: absolute;
    right : 10px;
    top : 300px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    margin-top: 10px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    height: 200px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
    top: 140px;
    text-align: center;
    padding-top: 4vw;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.name {
    position: absolute;
    top: 220px;
    left: 120px;
}

#nupp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vw;
    
}

#start-button{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 20px;
    font-family: 'Libre Franklin', sans-serif;
    
}

#scores {
    margin-bottom: 100px;
}

@media (max-width: 768px) { 

    .opening-container {
        width: 90vw;
    }

    #container {
        width: 90vw;
    }

    .start-container
    {
        padding-top: 10px;
        margin-left: 10px;
    }
}

